<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSCallBackDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61C65AF21F5F9E1500F46405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C65B0E1F5F9E1500F46405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C65B191F5F9E1500F46405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
